*
!docker-compose.yml
!.example.env
!.gitignore
!famflix.ps1
!Mount-famflixNAS.example.ps1
!caddy/*
!caddy
!scripts
!scripts/*
!configs
!configs/seedlink
!configs/seedlink/scripts
!configs/seedlink/scripts/*