*
!docker-compose.yml
!dockerfile.seedlink
!.example.env
!.gitignore
!famflix.sh
famflix-secrets.sh
!Mount-famflixNAS.example.ps1
!caddy/*
!caddy
!scripts
!scripts/*
!configs
!configs/seedlink
!configs/seedlink/scripts
!configs/seedlink/scripts/*